/Klima.class
/Licht.class
/Lichtpop.class
/Main.class
/Modul.class
/Raum.class
/Temppop.class
/Schnittstelle.class
/TestMain.class
/FxFXML.class
/Lichtkonfig.class
/Tempkonfig.class
/ToggleSwitch.class
/zeichnen.class
